.env
.venv/
venv/
__pycache__/
*.pyc
db.sqlite3

# Tenía dudas sobre si este archivo debía subirse a GitHub, por eso le puse el “#” al final. Finalmente, decidí subirlo por las dudas.
# docs/crear_base_datos.sql
